@media (prefers-color-scheme: dark) { 
    .bg-img{
        filter: brightness(50%);
    }
    .bg-deep{
        filter: brightness(50%);
    }
    
    .time-div {
    	color: rgba(255,255,255,0.7);
    }
     
    
    .time{
    	color:rgba(255,255,255,0.8);
    }
    
    .sbar-div{
    	box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    }
    
    .sbar-sel {
        color: rgba(255,255,255,0.7);
        background: rgba(21,21,21,0.5);
    }
    .sbar-sel:hover{
    	color: #fff;
        background: #000;
    }
    
    .sbar-input {
        color: #ccc;
        background: rgba(0,0,0,0.5);
    }
    .sbar-input:hover {
    	background-color: rgba(0,0,0,0.8);
    }
    .sbar-input:focus {
    	background-color: #111;
    }
    .sbar-input::placeholder{
        color: #555;
    }
    
    .sbar-btn {
        color: rgba(255,255,255,0.7);
        background: rgba(21,21,21,0.5);
    }
    
    .sbar-btn:hover{
        background:#000;
    	color: #fff;
    }
    .time-pro-bg {
        background-color: rgba(0,0,0,0.5);
    }
    .time-pro {
        background-color: rgba(255, 255, 255, 0.5);
    } 
    .model {
        background-color: #333;
        color: #ddd;
    }
    .model-close-inner::after, .model-close-inner::before {
        background-color: #ddd;
    }
    .scroll {
        background-color: #555;
    }
    .card {
        color: #eee;
        background-image: linear-gradient(352deg, #555, #777);
        border: solid 1px rgb(60, 60, 60);
    }
    .link-bar div{
        background-color: rgba(0, 0, 0, 0.3);
    }
    .link-bar div:hover{
        background-color: rgba(0, 0, 0, 0.6);
    }
    .link-bar div h5{
        color: rgba(255,255,255,0.4);
    }
    .link-bar div svg *{
        stroke:rgb(120, 120, 120)
    }
}
